*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Sunum notları - sadece yerelde kalacak
SUNUM_NOTLARI.md
GITHUB_YUKLEME.md
GITHUB_BASARILI.md
Detayli_Fonksiyon_Analizi.md
